<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{title}}</title>
  <style type="text/css">

   /* form-css */
   input[type="text"],
   textarea,
   textarea.form-control {
       height: 35px;
       width:350px;
       margin-left: auto;
       margin-right:auto;
       margin-top:50px;
       padding: 0 20px;
       /*vertical-align: middle;*/
       background: #fff;
       border: 3px solid #fff;
       text-align:center;
       font-family: 'Roboto', sans-serif;
       font-size: 16px;
       font-weight: 300;
       line-height: 35px;
       color: #888;
       -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
       -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
       -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
   }

   textarea,
   textarea.form-control {
       padding-top: 10px;
	padding-bottom: 10px;
       line-height: 30px;
   }

   input[type="text"]:focus,
   textarea:focus,
   textarea.form-control:focus {
       color: #fff;
       outline: 0;
       background: #04bbce;
       opacity: 1 !important;
       border: 3px solid #0a75b8;
       -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
   }

   input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
   input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
   input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

   button.btn {
       height: 50px;
       margin: 40px 0 0 ;
       padding: 0 20px;
       vertical-align: middle;
       background: #19b9e7;
       border: 0;
       font-family: 'Roboto', sans-serif;
       font-size: 22px;
       font-weight: 300;
       line-height: 50px;
       color: #fff;
       -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
       text-shadow: none;
       -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
       -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
   }

   button.btn:hover { opacity: 0.6; color: #fff; }

   button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

   button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

   button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

   /* style */
   body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
   }

   strong { font-weight: 500; }

   a, a:hover, a:focus {
       color: #19b9e7;
       text-decoration: none;
       -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
   }

   h1, h2 {
       margin-top: 10px;
       font-size: 25px;
       font-weight: 100;
       color: #555;
       line-height: 35px;
   }

   h3 {
       font-size: 22px;
       font-weight: 300;
       color: #fff;
       line-height: 28px;
       text-align:center;
   }
   h4 {

       font-size: 18px;
       font-weight: 300;
       color: #fff;
       line-height: 20px;
       text-align:center;
   }
   h5{

       font-size: 12px;
       font-weight: 400;
       color: #fff;
       line-height: 16px;
       text-align:center;
   }

   #line {
       padding-top:10px;
       border-top:double;
       border-color:#CCC;
   }


   img { max-width: 100%; }

   img.social-log {
       display:block;
       margin-left:auto;
       margin-right:auto;
       margin-top:10px;
   }

   .orange {
       font-weight: 400;
       color: #F60;
   }

   .legal{
       font-size:12px;
       color:#fff;
   }

   ::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
   ::selection { background: #19b9e7; color: #fff; text-shadow: none; }


   .btn-link-1 {
       display: inline-block;
       height: 50px;
       margin: 0 5px;
       padding: 16px 20px 0 20px;
       background: #19b9e7;
       font-size: 16px;
       font-weight: 300;
       line-height: 16px;
       color: #fff;
       -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
   }
   .btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

   .btn-link-2 {
       display: inline-block;
       height: 50px;
       margin: 0 5px;
       padding: 15px 20px 0 20px;
       background: rgba(0, 0, 0, 0.3);
       border: 1px solid #fff;
       font-size: 16px;
       font-weight: 300;
       line-height: 16px;
       color: #fff;
       -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
   }
   .btn-link-2:hover, .btn-link-2:focus,
   .btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


   /***** Top menu *****/

   .navbar {
       padding-top: 10px;
       background: #333;
       background: rgba(51, 51, 51, 0.3);
       border: 0;
       -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
   }
   .navbar.navbar-no-bg { background: none; }

   ul.navbar-nav {
       font-size: 16px;
       color: #fff;
   }

   .navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

   .navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

   .navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
   .navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
   .navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

   .navbar-inverse ul.navbar-nav li .li-social a {
       margin: 0 5px;
       font-size: 28px;
       vertical-align: middle;
   }
   .navbar-inverse ul.navbar-nav li .li-social a:hover,
   .navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #19b9e7; }

   .navbar-brand {
       width: 113px;
       background: url(../img/logo.png) left center no-repeat;
       text-indent: -99999px;
   }


   /***** Top content *****/

   .inner-bg {
       padding: 0px 0 170px 0;
   }

   .top-content .text {
       color: #fff;
   }

   .top-content .text h1 { color: #fff; }

   .top-content .description {
       margin: 20px 0 10px 0;
   }

   .top-content .description p { opacity: 0.8; }

   .top-content .description a {
       color: #fff;
   }
   .top-content .description a:hover,
   .top-content .description a:focus { border-bottom: 1px dotted #fff; }

   .top-content .top-big-link {
       margin-top: 35px;
   }

   .form-box {
       padding-top: 40px;
   }

   .form-top {
       overflow: hidden;
       padding: 0 25px 15px 25px;
       background: #04bbce;
       background: rgba(4, 187, 206, 0.9);
       -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
       text-align: left;
   }

   .form-top-left {
       float: left;
       width: 75%;
       padding-top: 25px;
   }

   .form-top-left h3 { margin-top: 0; color: #fff; font-size:34px; line-height:100px; font-weight:500; }
   .form-top-left p { opacity: 0.8; color: #fff; }

   .form-top-right {
       float: left;
       width: 25%;
       padding-top: 5px;
       font-size: 66px;
       color: #fff;
       line-height: 100px;
       text-align: right;

   }

   .form-bottom {
       padding: 25px 25px 30px 25px;
       background: #444;
       background: rgba(0, 0, 0, 0.4);
       -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
       text-align: center;
   }

   .form-bottom form textarea {
       height: 100px;
   }

   .form-bottom form .input-error {
       border-color: #19b9e7;
   }

   .form-bottom p { opacity: 0.8; color: #fff; }

   /******footer******/

   .footer {
       width:100%;
       position:fixed;
       bottom:0;
       left:0;
       color: #fff;
       margin:0;
       height:50px;
       background-color: #49318e;
   }
   .privacy {
       font-size:12px;
       color:#fff;
       line-height:50px;
       text-decoration:underline;
   }

   /******modal******/

   .modalDialog {
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background: rgba(0,0,0,0.8);
       z-index: 99999;
       opacity:0;
       -webkit-transition: opacity 400ms ease-in;
       -moz-transition: opacity 400ms ease-in;
       transition: opacity 400ms ease-in;
       pointer-events: none;
   }
   .modalDialog:target {
       opacity:1;
       pointer-events: auto;
   }

   .modalDialog > div {
       max-width: 40%;
       height:500px;
       position: relative;
       margin: 5% auto;
       padding: 5px 20px 13px 20px;
       border-radius: 10px;
       background: #fff;
       overflow:scroll;
       font-size:12px;
       line-height:16px;

   }

   .modalDialog2 {
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background: rgba(0,0,0,0.8);
       z-index: 99999;
       opacity:0;
       -webkit-transition: opacity 400ms ease-in;
       -moz-transition: opacity 400ms ease-in;
       transition: opacity 400ms ease-in;
       pointer-events: none;
   }
   .modalDialog2:target {
       opacity:1;
       pointer-events: auto;
   }

   .modalDialog2 > div {
       max-width: 40%;
       height:500px;
       position: relative;
       margin: 5% auto;
       padding: 5px 20px 13px 20px;
       border-radius: 10px;
       background: #fff;
       overflow:scroll;
       font-size:12px;
       line-height:16px;

   }

   .close {
       background: #606061;
       color: #FFFFFF;
       line-height: 25px;
       position: absolute;
       right: 12px;
       text-align: center;
       top: 10px;
       width: 24px;
       text-decoration: none;
       font-weight: bold;
       -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
       border-radius: 12px;
       -moz-box-shadow: 1px 1px 3px #000;
       -webkit-box-shadow: 1px 1px 3px #000;
       box-shadow: 1px 1px 3px #000;
   }

   .close:hover { background: #F60; }

   /***** Media queries *****/

   @media (min-width: 992px) and (max-width: 1199px) {}

   @media (min-width: 768px) and (max-width: 991px) {}

   @media (max-width: 767px) {

       .navbar { padding-top: 0; }
       .navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
       .navbar-brand { height: 60px; margin-left: 15px; }
       .navbar-collapse { border: 0; }
       .navbar-toggle { margin-top: 12px; }

       .inner-bg { padding: 40px 0 110px 0; }
       .top-content .top-big-link { margin-top: 25px; }
       .top-content .top-big-link a.btn { margin-top: 10px; }

   }

   @media (max-width: 415px) {

       h1, h2 { font-size: 32px; }

   }


   /* Retina-ize images/icons */

   @media
   only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (   min--moz-device-pixel-ratio: 2),
   only screen and (     -o-min-device-pixel-ratio: 2/1),
   only screen and (        min-device-pixel-ratio: 2),
   only screen and (                min-resolution: 192dpi),
   only screen and (                min-resolution: 2dppx) {

   }

  </style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Klustera - Login ES</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="__assets__/ico/favicon.png">

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

        <link rel="stylesheet" type="text/css" href="__assets__/zocial/zocial.css" />


        <script>
        	jQuery(document).ready(function() {
					/*
						La imagen de fondo se edita en esta cadena
					*/
					$.backstretch("assets/img/backgrounds/1.jpg");
					$('#top-navbar-1').on('shown.bs.collapse', function(){
						$.backstretch("resize");
					});
					$('#top-navbar-1').on('hidden.bs.collapse', function(){
						$.backstretch("resize");
					});
					/*
						Contact form, para cada campo de texto que agregues se hace otra cadena para la validación por ajax, como en los campos muestra que te deje:  "if(json.emailMessage != '') {
									$('.contact-form form .contact-email').addClass('input-error');
								}"
					*/
					$('.contact-form form input[type="text"], .contact-form form textarea').on('focus', function() {
						$('.contact-form form input[type="text"], .contact-form form textarea').removeClass('input-error');
					});
					$('.contact-form form').submit(function(e) {
						e.preventDefault();
						$('.contact-form form input[type="text"], .contact-form form textarea').removeClass('input-error');
						var postdata = $('.contact-form form').serialize();
						$.ajax({
							type: 'POST',
							url: 'assets/contact.php',
							data: postdata,
							dataType: 'json',
							success: function(json) {
								if(json.emailMessage != '') {
									$('.contact-form form .contact-email').addClass('input-error');
								}
								if(json.subjectMessage != '') {
									$('.contact-form form .contact-subject').addClass('input-error');
								}
								if(json.messageMessage != '') {
									$('.contact-form form textarea').addClass('input-error');
								}
								if(json.emailMessage == '' && json.subjectMessage == '' && json.messageMessage == '') {
									$('.contact-form form').fadeOut('fast', function() {
										$('.contact-form').append('<p>¡Gracias!.</p>');
										// reload background
										$.backstretch("resize");
									});
								}
							}
						});
					});
				});

  	</script>


</head>
<body>
  <div class="top-content">
      <div class="inner-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text">
                      <h1><strong>{{title}}</strong> </h1>
                      {{#if err}}
                      <div class="alert"><strong>Error:</strong> {{err}}</div>
                      {{/if}}
                  </div>
              </div>
              <div class="row">
                        {{#if google}}
                  <div id="oauth">
                      <form action="{{googleEndpoint}}" method="POST">
                          <input id="successUrl" type="hidden" name="success_url" value="{{success_url}}"/>
                          <button class="zocial google">Login with Google</button>
                      </form>
                  </div>
                  {{else}}
                  <div class="col-sm-6 col-sm-offset-3 form-box">
                      <div class="form-top">
                          <div class="form-top-left">
                              <h3>INGRESA TUS DATOS</h3>
                          </div>
                          <div class="form-top-right">
                              <img src="assets/img/logo.png">
                          </div>
                      </div>
                      <div class="form-bottom contact-form">
                          {{#if proxied}}
                          Debes de identificarte para poder ingresar al sitio.
                          {{else}}
			  <form role="form" action="{{url}}" method="POST">
                              <input id="successUrl" type="hidden" name="success_url" value="{{success_url}}"/>
			      <div class="form-group">
                                  <input type="text" id="username" name="username" value="{{username}}" placeholder="USUARIO" required class="form-control">
                              </div>
                              <div class="form-group">
                                  <input type="text" size="30" name="password" placeholder="CONTRASEÑA" required class="form-control">
                              </div>
                              <button type="submit" class="btn">ENTRAR</button>
                          </form>
		      </div>
                      {{/if}}
                      {{/if}}
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script type="text/javascript">
    var successUrl = document.getElementById('successUrl');
    if (successUrl.value === '') {
      successUrl.value = window.location.href;
    }
  </script>
</body>
</html>
